<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @wig.color %>
</p>

<p>
  <b>Size:</b>
  <%= @wig.size %>
</p>

<p>
  <b>Style:</b>
  <%= @wig.style %>
</p>

<p>
  <b>Price:</b>
  <%= @wig.price %>
</p>

<p>
  <b>Foto:</b>
  <%= image_tag @wig.picture.url %>
</p>

<%= button_to "Añadir a carrito", cart_items_path(:wig_id => @wig.id), :id => "add_to_cart", :data_wig => @wig.id  %>

<%= link_to 'Edit', edit_wig_path(@wig) %> |
<%= link_to 'Back', wigs_path %>
