<tr>
  <td><span id="quantity_item_<%= cart_item.id%>"><%= cart_item.quantity %></span> Peluca(s) <%= cart_item.wig.color %> <%= cart_item.wig.size %></td>
  <td><span id="total_item_<%= cart_item.id %>"><%= cart_item.total_price %></span></td>
</tr>
